.todo
    &__title
        font-family Arial, Helvetica, sans-serif
        color #333

    &__list
        list-style-type none

    &__item
        &_hidden
            display none

    &__delete.button
    &__clear-completed.button
        margin-left 10px
